ckpt/
ckpt
results/
hub/
assets/robot/
policy/act_*
data/
data
__pycache__/
scripts/*
!scripts/visualize/
!scripts/*example*.sh
logs/
vla_backup/
eval_real_old.py
outputs/
.idea/
lerobot/
.cursor/
num2words/
.venv/
uv.lock