[submodule "policy/openpi/openpi"]
	path = policy/openpi/openpi
	url = https://github.com/Physical-Intelligence/openpi.git
[submodule "policy/octo/octo_pytorch"]
	path = policy/octo/octo_pytorch
	url = https://github.com/emb-ai/octo-pytorch.git
[submodule "third_party/libero"]
	path = third_party/libero
	url = https://github.com/Lifelong-Robot-Learning/LIBERO.git
[submodule "third_party/lerobot"]
	path = third_party/lerobot
	url = https://github.com/WwZzz/lerobot.git
