ckpt/
ckpt
results/
hub/
assets/robot/
policy/*gc*
data/
data
__pycache__/
scripts/*
tmp_scripts/*
!scripts/visualize/
!scripts/*example*.sh
logs/
vla_backup/
eval_real_old.py
outputs/
.idea/
.cursor/
gyx/*
wyb/*
num2words/
.venv/
uv.lock
configs/policy/*gc*
configs/action_manager/so101*